@model IEnumerable<FinalTest1.Models.Entidades.Animal>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.raza.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tamanio.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaNac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaBaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.caracteristicas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.enAdopcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.enAdopcion == true) { 
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.raza.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tamanio.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaNac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaAlta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaBaja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.caracteristicas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.enAdopcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
    }
}

</table>
