@model IEnumerable<FinalTest1.Models.Entidades.Adopcion>

@{
    ViewBag.Title = "Adopcion";
}

<h2>Lista</h2>

<p>
    @Html.ActionLink("Nueva Adopcion", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.animal.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estadoAdopcion.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tipoAdopcion.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreVoluntario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombreAdm)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.fechaAlta)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.fechaConfirmacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCancelacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaEntrega)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFin)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.animal.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estadoAdopcion.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tipoAdopcion.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreVoluntario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreAdm)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.fechaAlta)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.fechaConfirmacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCancelacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaEntrega)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaFin)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    
                   
                </td>
            </tr>
        }
    </tbody>

</table>
